.Rproj.user
.Rhistory
.RData
.Ruserdata
data/DB
data/raster
data/raw
data/vector
output/acc
output/bayes
output/ffs
output/models
output/plots
output/test-results
kitematic
.local
.rstudio
docker_command.txt
